# Clean Column Names

When naming the columns of a data frame I often try to follow certain conventions that I have set for myself. For example, I like to work with column names that are lowercase and prefer underscores over whitespace. Unfortunately, for many datasets personal preferences like these are not met. Luckily, there is an easy way to transform column names with pandas `rename` function and lambda functions.

In [1]:
# Read pandas
import pandas as pd

In [3]:
# Create sample dataset
df = pd.DataFrame([[1, 2, 3], [1, 2, 3]], columns = ['VARIABLE ONE', 'VARIABLE TWO', 'VARIABLE THREE'])
df

   VARIABLE ONE  VARIABLE TWO  VARIABLE THREE
0             1             2               3
1             1             2               3

In [5]:
# Clean column names
clean_cname = lambda cname: cname.lower().replace(' ', '_')
df = df.rename(columns = clean_cname)
df

   variable_one  variable_two  variable_three
0             1             2               3
1             1             2               3