# Create Features From Dates

Sometimes we want to create features from a simple date given in a dataset. This can be easily done in pandas using the `.dt` class, which serves as an accessor object for datetimelike properties of the Series values.

In [13]:
# Import pandas
import pandas as pd
import numpy as np

In [28]:
# Create sample dataset
movie_tuples = [('Pulp Fiction', '1994-11-03'), 
                ('The Dark Knight', '2008-08-21'), 
                ('Inception', '2010-07-29'), 
                ('Matrix', '1999-06-17'), 
                ('Interstellar', '2014-11-06')]

movie_df = pd.DataFrame.from_records(movie_tuples, columns=['movie', 'date'])

In [ ]:
# Convert date column
movie_df['date'] = movie_df['date'].astype('datetime64')

In [29]:
# Create date features
movie_df['day'] = movie_df.date.dt.day
movie_df['month'] = movie_df.date.dt.month
movie_df['year'] = movie_df.date.dt.year
movie_df['weekday'] = movie_df.date.dt.weekday

In [30]:
# Show dataset
movie_df

             movie       date  day  month  year  weekday
0     Pulp Fiction 1994-11-03    3     11  1994        3
1  The Dark Knight 2008-08-21   21      8  2008        3
2        Inception 2010-07-29   29      7  2010        3
3           Matrix 1999-06-17   17      6  1999        3
4     Interstellar 2014-11-06    6     11  2014        3