# Stacking

There are many situations in which we need to reshape a given dataset. Stacking (and unstacking) is a useful concept for transforming data from short to long format.

In [2]:
# Import pandas
import pandas as pd
import numpy as np

In [9]:
# Create a sample dataset
idx = pd.Index(pd.date_range('2020-01-01', '2020-01-06'), name='date')
col = pd.MultiIndex.from_arrays(
    [
        ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'], 
        ['x', 'y', 'z', 'x', 'y', 'z']
    ], names = ['A', 'B']
)
df = pd.DataFrame(
    data = np.random.normal(size=(6, 6)), 
    index=idx, 
    columns=col
)

# Show first five rows
df.head()

A                foo                           bar
B                  x         y         z         x         y         z
date
2020-01-01  0.368826 -0.363399  1.210194 -0.349454 -2.082590 -0.341409
2020-01-02 -1.190149  1.233600  0.959436 -0.509121 -1.583703  0.352744
2020-01-03  1.629223  0.221586  0.100654 -1.283258 -0.648223 -0.815767
2020-01-04 -1.182813  0.268373 -0.042031  0.840200  1.142301 -0.417937
2020-01-05  0.043667  0.976776 -0.377038  0.262318  1.143602 -3.364478

In [10]:
# Bring index A to the left axis
df.stack(0)

B                      x         y         z
date       A
2020-01-01 bar -0.349454 -2.082590 -0.341409
           foo  0.368826 -0.363399  1.210194
2020-01-02 bar -0.509121 -1.583703  0.352744
           foo -1.190149  1.233600  0.959436
2020-01-03 bar -1.283258 -0.648223 -0.815767
           foo  1.629223  0.221586  0.100654
2020-01-04 bar  0.840200  1.142301 -0.417937
           foo -1.182813  0.268373 -0.042031
2020-01-05 bar  0.262318  1.143602 -3.364478
           foo  0.043667  0.976776 -0.377038
2020-01-06 bar -0.211930 -2.096567 -0.718749
           foo  0.624082 -0.128934  0.117997

In [11]:
# Bring index A to the left axis and date index to the top axis
df.stack(0).unstack(0)

B             x                                                         \
date 2020-01-01 2020-01-02 2020-01-03 2020-01-04 2020-01-05 2020-01-06
A
bar   -0.349454  -0.509121  -1.283258   0.840200   0.262318  -0.211930
foo    0.368826  -1.190149   1.629223  -1.182813   0.043667   0.624082

B             y                                                         \
date 2020-01-01 2020-01-02 2020-01-03 2020-01-04 2020-01-05 2020-01-06
A
bar   -2.082590  -1.583703  -0.648223   1.142301   1.143602  -2.096567
foo   -0.363399   1.233600   0.221586   0.268373   0.976776  -0.128934

B             z
date 2020-01-01 2020-01-02 2020-01-03 2020-01-04 2020-01-05 2020-01-06
A
bar   -0.341409   0.352744  -0.815767  -0.417937  -3.364478  -0.718749
foo    1.210194   0.959436   0.100654  -0.042031  -0.377038   0.117997